<form action="/products" method="post">
    <h2>Insert your data</h2>
        <label for="Product">Product</label>
        <input type="text" name="Product" id="product"><br>
        <label for="description">lastname</label>
        <input type="text" name="description" id="description"><br>
        <label for="price">email</label>
        <input type="number" name="email" id="price"><br>
        <input type="submit" value="SAVE">
</form>